<aside>
<table align="right" style="padding: 1em">
<tr><td>Paquete <a target="_git" title="Enlace canónico a git para este paquete." href="{{data_packtpl.path_preserv_git}}"><big><b>pk{{data_packtpl.pack_number}}</b></big></a> de <small><a target="_osmcodes" title="Jurisdicción" href="https://osm.codes/{{data_packtpl.isolabel_ext}}">{{data_packtpl.isolabel_ext}}</a></small>
</td></tr>
<tr><td>
Donante: <a rel="external" target="_doador" href="{{data_packtpl.url}}">{{data_packtpl.legalname}}</a><br/>
<small>{{data_packtpl.vat_id}}</small> • Wikidata <a rel="external" target="_doador" title="Enlace del descriptor Wikidata del donante" href="https://www.wikidata.org/wiki/Q{{data_packtpl.wikidata_id}}">Q{{data_packtpl.wikidata_id}}</a></small><br/>
{{#license_evidences}}Licencia <a rel="external" target="_doador" href="{{definition.2}}"><b>{{definition.0}}</b></a> ({{definition.1}} {{#license_evidences.file}}<a title="SHA256 {{file}}" href="http://dl.digital-guard.org/{{license_evidences.file}}"><code>{{license_evidences.file_7_ext}}</code></a>{{/license_evidences.file}}{{#license_evidences.uri_evidency}}{{#license_evidences.is_uri_evidency_eml}}<a title="SHA256 {{uri_evidency}}" href="http://dl.digital-guard.org/{{license_evidences.uri_evidency}}"><code>{{license_evidences.uri_evidency_7_ext}}</code></a>{{/license_evidences.is_uri_evidency_eml}}{{^license_evidences.is_uri_evidency_eml}}<a title="SHA256 {{uri_evidency}}" href="{{uri_evidency}}"><code>webarchive</code></a>{{/license_evidences.is_uri_evidency_eml}}{{/license_evidences.uri_evidency}}){{/license_evidences}}{{^license_evidences}}{{#license}}Licencia: <b>{{license}}</b>{{/license}}{{/license_evidences}}
Obtido via <i>{{data_packcsv.uri_objtype}}</i> em <b>{{data_packcsv.accepted_date}}</b> por:<br/>
 Avaliação técnica: <a rel="external" target="_gitPerson" title="Usuario de Git" href="https://github.com/{{data_packtpl.user_resp_packtpl_info.git_user}}">{{data_packtpl.user_resp_packtpl_info.git_user}}</a><br/>
 Representação institucional: <a rel="external" target="_gitPerson" title="Usuario de" href="https://github.com/ThierryAJean">ThierryAJean</a><br/>
</td></tr>
<tr><td>Camadas: {{#layers_keys}}<a title="{{.}}" href="#-{{.}}"><img src="https://raw.githubusercontent.com/digital-guard/preserv/main/docs/assets/layerIcon-{{.}}.png" alt="{{.}}" width="20"/></a> {{/layers_keys}}</td></tr>
{{#data_packtpl.path_cutgeo_git}}<tr><td><a href="{{data_packtpl.path_cutgeo_git}}">Datos publicados</a></td></tr>{{/data_packtpl.path_cutgeo_git}}
</table>
</aside>

<section>

Este repositorio de metadatos describe un paquete de archivos donados al dominio público. Está siendo conservado por Digital Guard: para obtener más detalles, consulte la [documentación sobre el proceso de registro y conservación](https://git.digital-guard.org/preserv/tree/main/docs).

Nota. Este documento README fue generado por software a partir de la información contenida en el archivo [`make_conf.yaml`](make_conf.yaml) en este paquete, e información adicional de los catálogos de [donantes](https://git.digital-guard.org/preserv-BR/blob/main/data/donor.csv) y [paquetes](https://git.digital-guard.org/preserv-BR/blob/main/data/donatedPack.csv).

# Capas de datos

Los archivos contienen "capas de datos" temáticas. Los metadatos también describen cómo se evaluó cada capa y cómo se filtraron sus datos de forma estandarizada.

{{#layers}}{{#value}}## <img src="https://raw.githubusercontent.com/digital-guard/preserv/main/docs/assets/layerIcon-{{layername_root}}.png" alt="{{layername_root}}" width="20"/> {{layername_root}}

{{#file_data}}Nombre del archivo: `{{orig_filename}}`.<br/>*Descarga* e integridad: [{{file_data.file}}](http://dl.digital-guard.org/{{file_data.file}}){{#file_data.name}}<br/>Descripción: {{file_data.name}}{{/file_data.name}}{{#file_data.comments}}<br/>Comentario: {{file_data.comments}}{{/file_data.comments}}{{#file_data.size}}<br/>Tamaño del archivo: {{file_data.size}} bytes{{#file_data.size_mb_round2}} ({{file_data.size_mb_round2}} <abbr title="mebibyte">MiB</abbr>){{/file_data.size_mb_round2}}{{/file_data.size}}{{/file_data}}<br/>Formato: {{#extension}}{{extension}}{{/extension}}{{#srid}}<br/>SRID: {{#srid_proj}}{{#insertSrid}}{{srid_proj}}{{/insertSrid}}{{^insertSrid}}{{srid}}{{/insertSrid}}{{/srid_proj}}{{^srid_proj}}{{srid}}{{/srid_proj}}{{/srid}}

{{#has_standardized_fields}}#### Datos relevantes{{#standardized_fields}}
* `{{name}}` ({{standard}}){{#comment}}: {{comment}}{{/comment}}
{{/standardized_fields}}{{/has_standardized_fields}}
{{#has_other_fields}}#### Otros datos relevantes{{#other_fields}}
* `{{name}}`{{#comment}}: {{comment}}{{/comment}}{{/other_fields}}{{/has_other_fields}}

{{#isCadLayer}}Complementos [{{join_data.cadLayer}}](#-{{join_data.cadLayer}}) a través de `{{join_column}}` y `{{join_data.cadLayerColumn}}`{{/isCadLayer}}{{^isCadLayer}}{{#join_column}}<br/>Complementado por [{{join_data.cadLayer}}](#-{{join_data.cadLayer}}) a través de `{{join_column}}` y `{{join_data.cadLayerColumn}}`{{/join_column}}{{/isCadLayer}}
{{#value.test_evidence}}#### Evidencia de prueba
<img src="{{value.test_evidence}}" width="400"/>{{/value.test_evidence}}

{{#value.comments}}#### Comentarios
{{value.comments}}{{/value.comments}}

{{#value.publication_data}}{{#value.publication_data.publication_summary}}#### Datos publicados
[{{path_cutgeo_git}}]({{path_cutgeo_git}})<br/>{{bytes}} bytes ({{bytes_mb_round2}} <abbr title="mebibyte">MiB</abbr>)<br/>{{itens}} {{geom_type}}{{^isGeoaddress}} con {{size_round2}} <abbr title="{{geom_unit_ext}}">{{geom_unit_abr}}</abbr><br/>densidad media: {{avg_density_round2}} {{geom_type}}/km²{{/isGeoaddress}}{{#isGeoaddress}}<br/>densidad media de {{avg_density_round2}} {{geom_type}}/km²{{/isGeoaddress}}{{/value.publication_data.publication_summary}}{{/value.publication_data}}
{{/value}}{{/layers}}

{{#test_evidence}}
# Evidencia de prueba
<img src="{{test_evidence}}" width="400"/>
{{/test_evidence}}

{{#comments}}
# Comentarios generales
{{comments}}
{{/comments}}

{{#has_other_files}}
# Otros datos relevantes
{{#other_files}}
* `{{file}}`{{#comment}}: {{comment}}{{/comment}}
{{/other_files}}
{{/has_other_files}}
{{#has_to-do}}
# Tareas
{{#to-do}}
* {{.}}
{{/to-do}}
{{/has_to-do}}
</section>
{{#reproducibility}}
<section>

# Reproducibilidad

```bash
{{{.}}}
```
</section>
{{/reproducibility}}


